body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #ced4da;
    transform: scale(1.05);
}

.hero {
    background-size: cover;
    background-position: center;
    color: #343a40;
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
}

.welcome-message {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer .footer-content {
    max-width: 600px;
    margin: auto;
}

footer .footer-content h3 {
    margin-top: 0;
}

footer .footer-content p {
    margin: 5px 0 20px;
}

footer .footer-content .socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer .footer-content .socials li {
    margin: 0 10px;
}

footer .footer-content .socials li img {
    width: 24px;
    height: 24px;
}

footer .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ffffff;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"], input[type="number"], input[type="checkbox"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
