<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hoteles Disponibles</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>
    <h1>Hoteles Disponibles</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/hoteles/lista}">Lista de Hoteles</a></li>
        </ul>
    </nav>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="hotel : ${hoteles}">
                <td th:text="${hotel.idHotel}"></td>
                <td th:text="${hotel.nombre}"></td>
                <td th:text="${hotel.categoria}"></td>
                <td th:text="${hotel.precio}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
