<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hoteles</title>
    <link rel="stylesheet" type="text/css" href="/css/indexStyle.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/hoteles/lista}">Lista de Hoteles</a></li>
                <li><a th:href="@{/hoteles/nuevo}">Nuevo Hotel</a></li>
                <li><a th:href="@{/hoteles/eliminar}">Eliminar Hotel</a></li>
                <li><a th:href="@{/hoteles/actualizar}">Actualizar Categoría</a></li>
                <li><a th:href="@{/hoteles/disponibles}">Hoteles Disponibles</a></li>
                <li><a th:href="@{/hoteles/datos}">Datos de un Hotel</a></li>
            </ul>
        </nav>
        <div class="hero">
            <h1>Gestión de Hoteles</h1>
            <p class="welcome-message">Bienvenido a la aplicación de gestión de hoteles. Utiliza el menú de navegación para realizar diferentes acciones.</p>
        </div>
    </header>
    <footer>
        <div class="footer-content">
            <h3>Gestión de Hoteles</h3>
            <p>Contacta con nosotros en nuestras redes sociales.</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/" target="_blank"><img src="/images/facebook-icon.png" alt="Facebook"></a></li>
                <li><a href="https://x.com/" target="_blank"><img src="/images/twitter-icon.png" alt="Twitter"></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><img src="/images/instagram-icon.png" alt="Instagram"></a></li>
                <li><a href="https://es.linkedin.com/" target="_blank"><img src="/images/linkedin-icon.png" alt="LinkedIn"></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Gestión de Hoteles. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
