<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos nuevo vuelo</title>
    <link rel="stylesheet" type="text/css" href="hojaestilos.css">
</head>
<body>
    <h2>INTRODUCE LOS DATOS DEL VUELO</h2>
    
    <form th:action="@{/altaVuelo}" th:object="${vueloDTO}" method="post">
        Compania del vuelo: <input type="text" th:field="*{compania}" required>
        Fecha del vuelo: <input type="text" th:field="*{fechaVuelo}" required>
        Precio del vuelo: <input type="text" th:field="*{precio}" required>
        Plazas disponibles: <input type="number" th:field="*{plazasDisponibles}" required><br>
        
        <input type="submit" value="Enviar Datos" style="margin-top: 20px;">
    </form>
    
    <form th:action="@{/}" method="get">
        <input type="submit" value="Volver al Menú" style="margin-top: 20px;">
    </form>
</body>
</html>
