<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Vuelos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>
    <h1>Lista de Vuelos</h1>
    <nav>
        <ul>
            <li><a th:href="@{/vuelos/nuevo}">Agregar Vuelo</a></li>
            <li><a th:href="@{/vuelos/eliminar}">Eliminar Vuelo</a></li>
            <li><a th:href="@{/vuelos/actualizar}">Actualizar Número de Plazas</a></li>
            <li><a th:href="@{/vuelos/disponibles}">Vuelos Disponibles</a></li>
        </ul>
    </nav>
    <table>
        <thead>
            <tr>
            	<th>ID</th>
                <th>Compania</th>
                <th>Fecha Vuelo</th>
                <th>Precio</th>
                <th>Plazas Disponibles</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vuelo : ${vuelos}">
            	<td th:text="${vuelo.idVuelo}"></td>
                <td th:text="${vuelo.compania}"></td>
                <td th:text="${vuelo.fechaVuelo}"></td>
                <td th:text="${vuelo.precio}"></td>
                <td th:text="${vuelo.plazasDisponibles}"></td>
            </tr>
        </tbody>
    </table>
    <nav>
        <ul>
           	<li><a th:href="@{/}">Inicio</a></li>
        </ul>
    </nav>
</body>
</html>